<div class = "footer navbar-fixed-bottom my-footer">
    <p class = "text-center">&copy; Online Scoobys Pizza. All Rights Reserved.</p>
    </div>

    <footer>
        <!-- Your existing footer content -->

        <!-- Social Media Links -->
        <div id="social-media-links">
            <a href="https://www.facebook.com/your-facebook-page" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/your-instagram-account" target="_blank">Instagram</a>
            <a href="https://twitter.com/your-twitter-account" target="_blank">Twitter</a>
        </div>

        <!-- Comment Box -->
        <div id="comment-box">
            <h3>Leave a Comment</h3>
            <form id="comment-form">
                <label for="comment">Your Comment:</label>
                <textarea id="comment" name="comment" rows="3" placeholder="Type your comment here"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </footer>