<footer>
    <div class="container">
        <!-- footer top menus -->
        <div class="row">
            <div class="col-lg-2">
                <div class="f-item">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="">Tallagh Pizza</a></li>
                        <li><a href="">Greek Fusion</a></li>
                        <li><a href="">Mexican Spicy</a></li>
                        <li><a href="">Napoli Classic</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="f-item">
                    <h4>Social Media</h4>
                    <ul>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">X</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- footer bottom copyright -->
    </div>
</footer>