<div class = "footer navbar-fixed-bottom my-footer">
    <p class="text-center footer-text">&copy; Online Scoobys Pizza. All Rights Reserved.</p>
    </div>

    <footer>
        <!-- Your existing footer content -->

        <!-- Social Media Links -->
        <div id="social-media-links">
            <a href="https://www.facebook.com/your-facebook-page" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/your-instagram-account" target="_blank">Instagram</a>
            <a href="https://twitter.com/your-twitter-account" target="_blank">Twitter</a>
        </div>
        

        
    </footer>