{% extends "base.html" %}
{% load static %}
{% block title %}
Order Details - Scooby`s Pizza
{% endblock %}
{% block content %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">Order Details</h1>
        <br>
        <table class="table table-bordered bg-transparent">
            <tr>
                <td class="text-left bg-transparent" colspan="2">
                    <b>Order: </b>#{{ order.id }}<br>
                    <b>Date: </b>{{ order.created|date:"d M Y" }}<br>
                    <b>Order Total: </b>€{{ order.total }}<br>
                    <b>Order Status: </b><i class="fas fa-check"></i>
                </td>
                <td class="text-left bg-transparent" colspan="2">
                    <b>Billing Address: </b><br>
                    {{ order.billingName }}<br>
                    {{ order.billingAddress1 }}<br>
                    {{ order.billingCity }}<br>
                    {{ order.billingPostcode }}<br>
                    {{ order.billingCountry }}<br>
                </td>
            </tr>
            <tr class="bg-transparent">
                <td class="bg-transparent"><b>Product Description</b></td>
                <td class="bg-transparent"><b>Qty</b></td>
                <td class="bg-transparent"><b>Unit Price</b></td>
                <td class="bg-transparent"><b>Sub-Total</b></td>
            </tr>
            {% for item in order_items %}
            <tr class="bg-transparent">
                <td class="bg-transparent">{{ item.product }}</td>
                <td class="bg-transparent">{{ item.quantity }}</td>
                <td class="bg-transparent">€{{ item.price }}</td>
                <td class="bg-transparent">€{{ item.sub_total }}</td>
            </tr>
            {% endfor %}
            <tr class="bg-transparent">
                <td class="text-right bg-transparent" colspan="3"><b>Total</b></td>
                <td class="bg-transparent">€{{ order.total }}</td>
            </tr>
            <tr class="bg-transparent">
                <td class="text-right bg-transparent" colspan="3"><b>Total Paid</b></td>
                <td class="bg-transparent">€{{ order.total }}</td>
            </tr>
            <tr class="bg-transparent">
                <td class="text-left bg-transparent" colspan="2">
                    <b>Shipping Address: </b><br>
                    {{ order.shippingName }}<br>
                    {{ order.shippingAddress1 }}<br>
                    {{ order.shippingCity }}<br>
                    {{ order.shippingPostcode }}<br>
                    {{ order.shippingCountry }}<br>
                </td>
                <td class="text-left bg-transparent" colspan="2">
                    <b>Payment Details: </b><br>
                    The order #{{ order.id }} has been paid successfully via
                    Stripe.
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}

