{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to our Chicken Collection at the Perfect Cushion Store.
    {% endif %}
{% endblock %}

{% block title %}
    {% if category %}
        {{ category.name }} - Perfect Cushion Store
    {% else %}
        Explore Our Chicken Collection - Perfect Cushion Store
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Breadcrumb navigation -->
    {% if category %}
        <div class="row my_row_class mt-4">
            <div class="mx-auto">
                <p><a href="{% url 'shop:all_products' %}">Home</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}

    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
        </div>
        <div>
            <h1 class="text-center my_title">{{ category.name }}</h1>
            <p class="text-justify">{{ category.description }}</p>
        </div>
        {% else %}
            <img class="my_image my_image_padding" src="{% static 'images/default_chicken_image.jpg' %}" alt="Our Chicken Collection">
        </div>
        <br>
        <div>
            <h1 class="text-center my_title"> Explore Our Chicken Collection</h1>
            <p class="text-justify">
                Discover a delightful selection of chicken products crafted with the finest ingredients for an exquisite taste
                experience. Whether you're a fan of grilled chicken or crispy fried chicken, our chicken collection
                has something for everyone.
            </p>
        </div>
    {% endif %}

    <div class="container">
        <div class="row mx-auto">
            {% for product
